<%- include("header") -%>

<h1>This page is just to check layoutes</h1>
<p>This page is just to know the layouts using ejs so that need to write header and footer in every pages</p>
<div id="heading" class="box"><a href="http://localhost:3000" class="mylink"><h1>To Do List</h1></a></div>
<div id="heading" class="box"><a href="http://localhost:3000/work" class="mylink"><h1>Work List</h1></a></div>

<%- include("footer") -%>